@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
  /* background-color: rgba(238,244,229,0.99); */
  font-family: 'Roboto', sans-serif;
  /* background-color: #ecfff9; */
  margin:0 0;
  background-color: white;
  /* background-color: #f1f1f1; */
}
div#hhhh{
  position: absolute;
  top:300px;
  left:300px;
}
.material-icons.md-48{
  font-size:54px;
  text-align:center;
  display:block;
}
h3{
  text-align:center;
}
div#loggo{
  position:absolute;
  top:20px;
  left:25px;
}
div#vertical-navbar {
  position: absolute;
    width: 150px;
    height: 800px;
    padding-top:0px;
    /* background-color: rgb(0, 68, 131) */
    background-color: #4dc9d4;
    top:160px;
}

div#vertical-navbar a {
  background-color: #4dc9d4;

    /* background-color: rgb(0, 68, 131); */
    color: white;
    display: block;
    padding: 25px;
    text-decoration: none;
}

div#vertical-navbar a:hover {
    /* background-color: rgb(3, 52, 99); */
    background-color: #279fa9;
}

div a#logout {
    position: relative;
    top: 85%;
}
hr#hi{
  position: absolute;
  top:150px;
  left:150px;
  width:1500px;
}



div#header {
    position: absolute;
    top: 0px;
    left: 150px;
    width: 1500px;
    background-color: white;
    border-bottom: 1px solid #279fa9;
}
div#header #i{
  position:absolute;
  top: 0px;
  left: 150px;
  width: 1500px;
  background: white;
}
div#header #logo{
   position: absolute;
   left:430px;
  width:550px;
  height:150px;
}

div#header #comment{
  position: absolute;
  top:110px;
  left:500px;
  width:400px;
}
div#user-list {
    position: absolute;
    top: 230px;
    left: 350px;
    height: 600px;
    width: 980px;
}

div#user-list table {
    margin-top: 10px;
    width: 980px;
    border-collapse: collapse;
}

div#user-list table tr th {
    background-color: rgb(171, 224, 213);
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#user-list table tr td a:link{
    text-align: center;
    color: black;
    text-decoration: none;
}

div#user-list table tr td a:hover{
    text-align: center;
    color: black;
}

div#user-list table tr td a:visited{
    text-align: center;
    color: black;
}

div#user-list table tr td {
    /* background-color: rgb(205, 212, 234); */
    background-color: #f1f1f1;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
#delete, #approve{
  padding-top: 3px;
  margin-right: 10px;
}
